<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytempest.mapper.AccessoriesMapper">

    <insert id="insertList" parameterType="java.util.List" >
        INSERT INTO accessories(acc_id, cook_id, acc_name, acc_amount)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.accId}, #{item.cookId}, #{item.accName}, #{item.accAmount})
        </foreach>
    </insert>

    <delete id="delete" parameterType="Long">
        DELETE FROM accessories WHERE cook_id =#{arg0}
    </delete>
</mapper>