<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytempest.mapper.CommentInfoMapper">


    <!-- 插入用户 -->
    <!-- 如果Sql的入参是一个类，那么要在#{}中写该类的属性名 -->
    <insert id="insert" parameterType="com.ytempest.vo.CommentInfoVO" useGeneratedKeys="true"
        keyProperty="commentId">
        INSERT INTO comments(
        comment_id, topic_id, comment_content, comment_time,
        comment_from_user, comment_to_user)
        VALUES ( #{commentId},#{topicId},#{commentContent},#{commentTime},
        #{commentFromUser},#{commentToUser});
    </insert>

</mapper>
