<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytempest.mapper.CookInfoMapper">

    <select id="selectById" resultMap="Cook_Base_Info">
		SELECT * FROM cookbook WHERE cook_id= #{arg0}
	</select>

    <select id="selectCookList" resultMap="Cook_Base_Info">
        SELECT * FROM cookbook
        WHERE cook_group=#{arg0} AND cook_type=#{arg1} ORDER BY cook_publish_time DESC LIMIT #{arg2},#{arg3}
	</select>

    <select id="countCookList" resultType="Long">
		SELECT COUNT(*) FROM cookbook
		WHERE cook_group=#{arg0} AND cook_type=#{arg1};
	</select>

    <select id="selectCook" resultMap="Cook_Info">
        SELECT * FROM
        (SELECT c.*, u.user_head_url, u.user_account FROM cookbook c
        INNER JOIN user_info u
        ON c.cook_id=#{arg0} AND c.cook_user_id=u.user_id) t
        INNER JOIN
        (SELECT COUNT(*) AS coolection_count FROM collection WHERE cook_id=#{arg0}) z

        LEFT JOIN mainmaterials m
        ON t.cook_id=m.cook_id

        LEFT JOIN accessories a
        ON t.cook_id=a.cook_id

        LEFT JOIN procedures p
        ON t.cook_id=p.cook_id
	</select>

    <insert id="insert" parameterType="com.ytempest.vo.CookBaseInfoVO" useGeneratedKeys="true"
        keyProperty="cookId">
        INSERT INTO cookbook(cook_id, cook_group, cook_type, cook_image_url,
         cook_user_id, cook_title, cook_desc, cook_publish_time)
        VALUES (#{cookId}, #{cookGroup}, #{cookType}, #{cookImageUrl},
         #{cookUserId}, #{cookTitle}, #{cookDesc}, #{cookPublishTime});
    </insert>

    <delete id="deleteCook" parameterType="Long">
        DELETE FROM cookbook WHERE cook_id = #{arg0}
    </delete>

    <update id="updateById">
        UPDATE cookbook SET
        cook_group = #{cookGroup},
        cook_type = #{cookType},
        cook_image_url = #{cookImageUrl},
        cook_user_id = #{cookUserId},
        cook_title = #{cookTitle},
        cook_desc = #{cookDesc},
        cook_publish_time= #{cookPublishTime}
        WHERE cook_id = #{cookId}
    </update>

    <!-- 根据活动Id获取参与活动的所有菜谱 -->
    <select id="selectPartakeCookList" resultMap="Cook_Base_Info">
        SELECT cookbook.* FROM
        (SELECT cook_id AS c_id FROM partakes_activity
        WHERE act_id=#{arg0} LIMIT #{arg1},#{arg2}) c
        LEFT JOIN cookbook
        ON c.c_id = cookbook.cook_id;
	</select>

    <select id="countPartakeCookList" resultType="Long">
		SELECT COUNT(*) FROM partakes_activity WHERE act_id=#{arg0}
	</select>

    <!-- 根据用户Id获取其所有菜谱 -->
    <select id="selectUserCookList" resultMap="Cook_Base_Info">
        SELECT * FROM cookbook WHERE cook_user_id= #{arg0}
        ORDER BY cook_publish_time DESC LIMIT #{arg1},#{arg2}
	</select>

    <select id="countUserCookList" resultType="Long">
		SELECT COUNT(*) FROM cookbook WHERE cook_user_id=#{arg0}
	</select>

    <!-- 根据用户Id获取用户收藏的所有菜谱 -->
    <select id="selectCollectList" resultMap="Cook_Base_Info">
        SELECT c2.* FROM
        (SELECT cook_id FROM collection WHERE user_id=#{arg0} LIMIT #{arg1},#{arg2}) c1
        LEFT JOIN cookbook c2
        ON c1.cook_id = c2.cook_id
    </select>
    <select id="countCollectList" resultType="Long">
        SELECT COUNT(*) FROM collection WHERE user_id=#{arg0}
    </select>


    <resultMap id="Cook_Base_Info" type="com.ytempest.vo.CookBaseInfoVO">
        <id property="cookId" column="cook_id" />
        <result property="cookGroup" column="cook_group" />
        <result property="cookType" column="cook_type" />
        <result property="cookImageUrl" column="cook_image_url" />
        <result property="cookUserId" column="cook_user_id" />
        <result property="cookTitle" column="cook_title" />
        <result property="cookDesc" column="cook_desc" />
        <result property="cookPublishTime" column="cook_publish_time" />
    </resultMap>

    <resultMap id="Cook_Info" type="com.ytempest.vo.CookDetailInfoVO">
        <id property="cookId" column="cook_id" />
        <result property="cookGroup" column="cook_group" />
        <result property="cookType" column="cook_type" />
        <result property="cookImageUrl" column="cook_image_url" />
        <result property="cookUserId" column="cook_user_id" />
        <result property="cookTitle" column="cook_title" />
        <result property="cookDesc" column="cook_desc" />
        <result property="cookPublishTime" column="cook_publish_time" />

        <result property="userHeadUrl" column="user_head_url" />
        <result property="userAccount" column="user_account" />
        <result property="collectCount" column="coolection_count" />

        <collection property="mainList" ofType="com.ytempest.vo.MainmaterialsVO">
            <result property="mainName" column="main_name" />
            <result property="mainAmount" column="main_amount" />
        </collection>

        <collection property="accList" ofType="com.ytempest.vo.AccessoriesVO">
            <result property="accName" column="acc_name" />
            <result property="accAmount" column="acc_amount" />
        </collection>

        <collection property="proceList" ofType="com.ytempest.vo.ProceduresVO">
            <result property="proceNo" column="proce_no" />
            <result property="proceImageUrl" column="proce_image_url" />
            <result property="proceDesc" column="proce_desc" />
        </collection>
    </resultMap>
</mapper>
