<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytempest.mapper.MainmaterialsMapper">
    <insert id="insertList" parameterType="java.util.List" >
        INSERT INTO mainmaterials(main_id, cook_id, main_name, main_amount)
        VALUES
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.mainId}, #{item.cookId}, #{item.mainName}, #{item.mainAmount})
        </foreach>
    </insert>
</mapper>