<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytempest.mapper.PartakeActivityMapper">

    <select id="getPartakeUserInfo" resultMap="Partake_Info">
		SELECT * FROM partakes_activity WHERE user_id=#{arg0} AND act_id=#{arg1};
	</select>

    <resultMap id="Partake_Info" type="com.ytempest.vo.PartakeActivityVO">
        <id property="partId" column="part_id" />
        <result property="actId" column="act_id" />
        <result property="cookId" column="cook_id" />
        <result property="userId" column="user_id" />
    </resultMap>

</mapper>
