<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytempest.mapper.TopicInfoMapper">

    <insert id="insert" parameterType="com.ytempest.vo.BaseTopicInfoVO" useGeneratedKeys="true"
        keyProperty="topicId">
        INSERT INTO topics(
        topic_id, user_id, topic_title, topic_content, topic_publish_time)
        VALUES (#{topicId},#{userId},#{topicTitle},#{topicContent}, #{topicPublishTime});
    </insert>

    <!-- 查找第index个记录之后的count个记录 -->
    <select id="selectTopicList" resultMap="TopicInfo_List">
        SELECT * FROM
        (
        SELECT * FROM (
        SELECT topics.*,user_info.user_head_url,user_info.user_account FROM topics
        LEFT JOIN user_info ON topics.user_id = user_info.user_id LIMIT #{arg0},#{arg1}) t1
        LEFT JOIN
        (SELECT topic_id AS topic_id2,COUNT(*) AS comment_count FROM comments GROUP BY topic_id) c
        ON t1.topic_id = c.topic_id2
        LEFT JOIN
        (SELECT topic_id AS topic_id3,COUNT(*) AS zan_count FROM zans GROUP BY topic_id) z
        ON t1.topic_id  = z.topic_id3
        ) t2
        LEFT JOIN topic_images
        ON t2.topic_id = topic_images.topic_id ORDER BY topic_publish_time DESC
	</select>

    <select id="countAll" resultType="Long">
		SELECT count(*) FROM topics;
	</select>

    <select id="countCommentAll" resultType="Long">
		SELECT COUNT(*) FROM comments WHERE topic_id = #{arg0};
	</select>

    <select id="selectCommentListById" resultMap="TopicInfo_Info">
        SELECT c.*,u1.user_head_url,u1.user_account,r.* FROM comments c
        LEFT JOIN user_info u1
        ON  c.topic_id = #{arg0} AND u1.user_id = c.comment_from_user
        LEFT JOIN
        (SELECT comment_id AS r_comment_id,reply_to_user ,COUNT(*) AS reply_count FROM replys ) r
        ON c.comment_id=r.r_comment_id
        ORDER BY comment_time DESC LIMIT #{arg1},#{arg2}
	</select>

    <select id="selectDetailComment" resultMap="Comment_Info">
        SELECT u.user_id, u.user_head_url, u.user_account, r.* FROM
        (SELECT * FROM replys WHERE comment_id = #{arg0}) r
        LEFT JOIN user_info u
        ON r.reply_from_user=u.user_id
	</select>

    <!-- 根据用户Id获取其所有话题 -->
    <select id="selectUserTopicList" resultMap="TopicInfo_List">
        SELECT * FROM
        (
        SELECT * FROM (
        SELECT t.*,user_info.user_head_url,user_info.user_account FROM
        (SELECT * FROM topics WHERE user_id=#{arg0}) t
        LEFT JOIN user_info ON t.user_id = user_info.user_id LIMIT #{arg1},#{arg2}) t1
        LEFT JOIN
        (SELECT topic_id AS topic_id2,COUNT(*) AS comment_count FROM comments GROUP BY topic_id) c
        ON t1.topic_id = c.topic_id2
        LEFT JOIN
        (SELECT topic_id AS topic_id3,COUNT(*) AS zan_count FROM zans GROUP BY topic_id) z
        ON t1.topic_id  = z.topic_id3
        ) t2
        LEFT JOIN topic_images
        ON t2.topic_id = topic_images.topic_id ORDER BY topic_publish_time DESC
	</select>

    <select id="countUserTopicList" resultType="Long">
		SELECT COUNT(*) FROM topics WHERE user_id=#{arg0}
	</select>


    <resultMap id="TopicInfo_List" type="com.ytempest.vo.TopicInfoVO">
        <id property="topicId" column="topic_id" />
        <result property="userId" column="user_id" />
        <result property="userHeadUrl" column="user_head_url" />
        <result property="userAccount" column="user_account" />
        <result property="topicTitle" column="topic_title" />
        <result property="topicContent" column="topic_content" />
        <result property="topicPublishTime" column="topic_publish_time" />
        <result property="commentCount" column="comment_count" />
        <result property="zanCount" column="zan_count" />
        <collection property="topicImage" ofType="com.ytempest.vo.TopicImageVO">
            <!--   <id property="imageId" column="image_id" />
               <result property="topicId" column="topic_id" />-->
            <result property="imageUrl" column="image_url" />
        </collection>
    </resultMap>

    <resultMap id="TopicInfo_Info" type="com.ytempest.vo.TopicCommentInfoVO">
        <id property="commentId" column="comment_id" />
        <result property="commentFromUser" column="comment_from_user" />
        <result property="userHeadUrl" column="user_head_url" />
        <result property="userAccount" column="user_account" />
        <result property="commentContent" column="comment_content" />
        <result property="commentTime" column="comment_time" />
        <result property="replyCount" column="reply_count" />
    </resultMap>

    <resultMap id="Comment_Info" type="com.ytempest.vo.TopicDetailCommentVO">
        <id property="userId" column="user_id" />
        <result property="userHeadUrl" column="user_head_url" />
        <result property="userAccount" column="user_account" />
        <result property="replyContent" column="reply_content" />
        <result property="replyTime" column="reply_time" />
    </resultMap>
</mapper>
