<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 配置映射文件 -->
    <mappers>
        <mapper resource="mybatis/mapper/AdminInfoMapper.xml" />
        <mapper resource="mybatis/mapper/UserInfoMapper.xml" />
        <mapper resource="mybatis/mapper/TopicInfoMapper.xml" />
        <mapper resource="mybatis/mapper/CommentInfoMapper.xml" />
        <mapper resource="mybatis/mapper/ReplyInfoMapper.xml" />
        <mapper resource="mybatis/mapper/TopicImageInfoMapper.xml" />

        <mapper resource="mybatis/mapper/CookInfoMapper.xml" />

    </mappers>

</configuration>